name: Build release

on:
  push:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

concurrency:
  group: release-main
  cancel-in-progress: true
jobs:
  release:
    name: release dev version
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - windows
          - macos
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install rust
        run: rustup update stable
      - name: Test
        run: cargo test
      - name: Build
        run: cargo build --release

      - name: Release windows
        if: matrix.os == 'windows'
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ matrix.os }}-${{github.sha}}
          tag_name: ${{ matrix.os }}-${{github.sha}}
          body: |
            Dev version release of windows. compiled with avx and sse4.
          files: target/release/simple-ci-cache.exe
      - name: Release mac
        if: matrix.os == 'macos'
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ matrix.os }}-${{github.sha}}
          tag_name: ${{ matrix.os }}-${{github.sha}}
          body: |
            Dev version release of macos. compiled with avx and sse4.
          files: target/release/simple-ci-cache

      - name: Release linux x86-64
        if: matrix.os == 'ubuntu'
        uses: softprops/action-gh-release@v2
        with:
          name: linux-${{github.sha}}
          tag_name: linux-${{github.sha}}
          body: |
            Dev version release of linux. compiled with avx and sse4.
          files: target/release/simple-ci-cache
