name: build pr

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  pr-build:
    name: build and test pr
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install rust
        run: rustup update stable
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
