name: build pr

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  pr-build:
    name: build and test pr
    strategy:
      matrix:
        os:
          - ubuntu
          - windows
          - macos
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
